body {
    background-color: rgb(90, 7, 7);   
}

h1 {
    background-color: rgb(151, 21, 21);
    font-size: 50px;
    font-style: italic;
    color: black;
} 

h2 {
    background-color: rgb(151, 21, 21);
    font-size: 40px;
    font-style: italic;
    color: black;
}